body{background-color: #222425;}
header{padding: .3rem 0 0 .3rem}
.header-icon {
    font-size: .3rem;
    font-weight: 600;
    color: #fff;
    height: .28rem;
    line-height: .35rem;
    padding-left: .4rem;
    background: url(../img/back.png) no-repeat;
    background-position-y: center;
    background-size: .2rem .33rem;
}
.page01 .title{
    background: url(../img/title_bg.png) 2.83rem .32rem no-repeat;
    background-size: .24rem .23rem;
    padding: 0 .3rem;
    font-weight: 500;
    color: #fff;
    text-align: center;
}
.page01 .title1{text-align: center}
.page01 .title1>label{
    background: url(../img/title_bg.png) no-repeat;
    background-size: .2rem;
    background-position-y: top;
    padding-left: 5px;
    font-weight: 500;
    color: #fff;
    font-size: .34rem;  
}
.con{
	width: 2rem;
    padding: .3rem .1rem;
    border-radius: .1rem;
    color: #c6c6c6;
    background-color: #3f3f3f;
}
.con-active{
    color: #fff;
    background-color:unset;
    background: -webkit-linear-gradient(135deg, #7867fa, #746cfa, #3eb2f3, #3cb5f3);
    background: -o-linear-gradient(135deg, #7867fa, #746cfa, #3eb2f3, #3cb5f3);
    background: -moz-linear-gradient(135deg, #7867fa, #746cfa, #3eb2f3, #3cb5f3);
    background: linear-gradient(135deg, #7867fa, #746cfa, #3eb2f3, #3cb5f3);
}
.tishi-panel{
	width: 80%;
    margin: .3rem auto 0;
}
.tishi-panel>li{text-align: center;}
.tishi2-title {
    font-size: .25rem;
    font-weight: 500;
    color: #fff;
    background: url(../img/mark.png) no-repeat;
    background-position-y: center;
    background-size: .3rem .3rem;
    height: .5rem;
    line-height: .5rem;
    padding-left: .45rem;
}
.page01 .swiper-box img {
    height: 100%;
    width: 100%;
}
.con3{display: flex;align-items: center;padding-left: .2rem;}
