@charset "UTF-8";
/** Created by UICUT.com on 2016/12/31. Contact QQ: 215611388 */
html { line-height: 1.15; -webkit-text-size-adjust: 100%; }

body { margin: 0; }

h1 { font-size: 2em; margin: 0.67em 0; }

hr { -webkit-box-sizing: content-box; box-sizing: content-box; height: 0; overflow: visible; }

pre { font-family: monospace, monospace; font-size: 1em; }

a { background-color: transparent; }

abbr[title] { border-bottom: none; text-decoration: underline; -webkit-text-decoration: underline dotted; text-decoration: underline dotted; }

b, strong { font-weight: bolder; }

code, kbd, samp { font-family: monospace, monospace; font-size: 1em; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sub { bottom: -0.25em; }

sup { top: -0.5em; }

img { border-style: none; }

button, input, optgroup, select, textarea { font-family: inherit; font-size: 100%; line-height: 1.15; margin: 0; }

button, input { overflow: visible; }

button, select { text-transform: none; }

button, [type="button"], [type="reset"], [type="submit"] { -webkit-appearance: button; }

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner { border-style: none; padding: 0; }

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring { outline: 1px dotted ButtonText; }

fieldset { padding: 0.35em 0.75em 0.625em; }

legend { -webkit-box-sizing: border-box; box-sizing: border-box; color: inherit; display: table; max-width: 100%; padding: 0; white-space: normal; }

progress { vertical-align: baseline; }

textarea { overflow: auto; }

[type="checkbox"], [type="radio"] { -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0; }

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button { height: auto; }

[type="search"] { -webkit-appearance: textfield; outline-offset: -2px; }

[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

::-webkit-file-upload-button { -webkit-appearance: button; font: inherit; }

details { display: block; }

summary { display: list-item; }

template { display: none; }

[hidden] { display: none; }

.pink { color: #fa92be; }

.red { color: #ff5858; }

.blue { color: #00aaee; }

.gray { color: #b9bcc7; }

.orange { color: #ff7802; }

html { font-size: calc(100vw/7.5); font-size: -webkit-calc(100vw/7.5); -webkit-text-size-adjust: 100%; }

@media screen and (min-width: 751px) { html { font-size: 75px; -webkit-text-size-adjust: 100%; } }

html { font-family: "微软雅黑", "Hiragino Sans GB", "Hiragino Sans GB W3", "宋体", Helvetica, Arial, sans-serif; }

body { font-size: 0.24rem; color: #333; background: #fff; }

table { border-collapse: collapse; border-spacing: 0; empty-cells: show; font-size: inherit; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary, audio, canvas, progress, video, body, div, address, blockquote, iframe, ul, ol, dl, dt, dd, li, dl, h1, h2, h3, h4, h5, h6, p, a, pre, table, caption, th, td, form, legend, fieldset, input, button, select, textarea { margin: 0; padding: 0; font-weight: normal; font-style: normal; font-family: inherit; -webkit-box-sizing: border-box; box-sizing: border-box; }

ul, li, ol { list-style: none; line-height: normal; }

i, address, cite, dfn, em, var { font-style: normal; }

input[type=date] { outline: none; border: none; -webkit-appearance: none; }

a { text-decoration: none; color: #333; background-color: transparent; -webkit-text-decoration-skip: objects; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

a:active, a:hover, a:focus { color: #fa92be; outline-width: 0; }

img { width: auto; max-width: 100%; width: 100%; -ms-interpolation-mode: bicubic; }

video { border: none; outline: none; display: block; width: 100%; }

a, img, input[type=text], input[type=submit], input[type=password], textarea, select, button, footer, header, time, span, em, i { -webkit-transition: all 0.3s ease-in; -o-transition: all 0.3s ease-in; transition: all 0.3s ease-in; }

.wrap { width: 7.5rem; margin-left: auto; margin-right: auto; }

.footer, .fixed { position: fixed; z-index: 999; width: 7.5rem; left: 50%; margin-left: -3.75rem; }

.cf { *zoom: 1; }

.cf:before, .cf:after { content: ""; display: table; }

.cf:after { clear: both; }

.page01 .list2 .txt, .page01 .list2 h3, .page01 .list3 h3, .page02 .list h3 { white-space: nowrap; overflow: hidden; -o-text-overflow: ellipsis; text-overflow: ellipsis; }

input[type=text], input[type=password], input[type=submit], select, button, textarea { border: #333 1px solid; outline: none; }

input:hover[type=text], input:hover[type=password], input:hover[type=submit], select:hover, button:hover, textarea:hover, input:focus[type=text], input:focus[type=password], input:focus[type=submit], select:focus, button:focus, textarea:focus { border-color: #fa92be; }

.fill { -o-object-fit: fill; object-fit: fill; height: 100%; }

.contain { -o-object-fit: contain; object-fit: contain; height: 100%; }

.cover { -o-object-fit: cover; object-fit: cover; height: 100%; }

.none { -o-object-fit: none; object-fit: none; height: 100%; }

.scale-down { -o-object-fit: scale-down; object-fit: scale-down; height: 100%; }

input[type=text], input[type=password], input[type=submit], select, button { border: #eee 1px solid; height: .6rem; border-radius: .1rem; width: 100%; }

input[type=text]:focus, input[type=password]:focus, input[type=submit]:focus, select:focus, button:focus { border-color: #fa92be; }

button { width: auto; }

input[type=text], input[type=password] { padding: 0 .1rem; }

input[type=submit] { background-color: #fa92be; text-align: center; width: 100%; }

input[type=file] { cursor: pointer; }

textarea { height: auto; min-height: 1.2rem; border: #eee 1px solid; border-radius: .1rem; padding: .1rem; width: 100%; }

input:-moz-placeholder { color: #ddd; }

::-webkit-input-placeholder { color: #ddd; }

input[type=text], input[type=password] { -webkit-appearance: none; }

.show { display: block !important; }

.hide { display: none !important; }

.h98 { width: 100%; height: 0.98rem; }

.bg { background-color: #f6f6f6; }

.arrow { background: url("images/arrow.png") right center no-repeat; background-size: .14rem .28rem; padding-right: .2rem; }

.banner .bd li img, .page01 .swiper-box img, .page01 .list2 li, .page01 .list3 li { -webkit-box-shadow: 0 0.02rem 0.1rem 0 rgba(0, 0, 0, 0.1); box-shadow: 0 0.02rem 0.1rem 0 rgba(0, 0, 0, 0.1); }

.btn { line-height: .6rem; padding: 0 .2rem; border-radius: .1rem; border: #fa92be 1px solid; text-align: center; background-color: #fa92be; color: #fff; }

.btn:hover { opacity: .8; color: #fff; }

.btn.btn-blue { background-color: #00aaee; border-color: #00aaee; }

.btn.btn-gray { background-color: #b9bcc7; border-color: #b9bcc7; }

.btn.btn-red { background-color: #ff5858; border-color: #ff5858; }

.btn.btn-orange { background-color: #ff7802; border-color: #ff7802; }

.btn.btn-white { background-color: #fff; border-color: #eee; color: #333; }

.footer, .page01 .list2, .page01 .list2 .btm, .page01 .list3 li, .page01 .list3 .btm, .page02 .list li, .page02 .list .btm, .classify { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.classify .classify-left .style1 { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -ms-flex-wrap: wrap; flex-wrap: wrap; }

/* ----------------------------------------------------------------------main-------------------------------------------------------------------- */
.banner { width: 100%; overflow: hidden; position: relative; padding-bottom: .5rem; }

.banner .hd { width: 100%; height: 0.22rem; position: absolute; z-index: 99; bottom: .1rem; text-align: center; }

.banner .hd ul { display: inline-block; height: .06rem; padding: 0.06rem .06rem; border-radius: .06rem; font-size: 0; vertical-align: top; }

.banner .hd ul li { display: inline-block; width: .22rem; height: .06rem; border-radius: .06rem; background: #c7c7c7; margin: 0 .1rem; vertical-align: top; overflow: hidden; }

.banner .hd ul .on { background: #fa92be; }

.banner .bd { position: relative; z-index: 0; }

.banner .bd li { border-radius: .2rem; overflow: hidden; padding: .1rem; }

.banner .bd li img { width: 100%; background: url(images/loading.gif) center center no-repeat; display: block; border-radius: .15rem !important; overflow: hidden; }

.banner .bd li a { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

/* 图片 视频 切换播放 -------------------------------------------------------------- */
/* 图片 视频 切换播放 结束 -------------------------------------------------------------- */
.footer { bottom: 0; height: .98rem; background-color: #fff; font-size: .32rem; border-top: #eee 1px solid; }

.footer li { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; text-align: center; height: 100%; font-size: 0.2rem; }

.footer li a { display: block; width: 100%; height: 100%; background: url("images/ft1.png") center 0.05rem no-repeat; background-size: .5rem .5rem; padding-top: .6rem; color: #9a9a9a; }

.footer li.on a { color: #fa92be; }

.footer li:nth-child(1) a { background-image: url(images/ft1.png); }

.footer li:nth-child(1).on a { background-image: url(images/ft1-on.png); }

.footer li:nth-child(2) a { background-image: url(images/ft2.png); }

.footer li:nth-child(2).on a { background-image: url(images/ft2-on.png); }

.footer li:nth-child(3) a { background-image: url(images/ft3.png); }

.footer li:nth-child(3).on a { background-image: url(images/ft3-on.png); }

.footer li:nth-child(4) a { background-image: url(images/ft4.png); }

.footer li:nth-child(4).on a { background-image: url(images/ft4-on.png); }

.footer li:nth-child(5) a { background-image: url(images/ft5.png); }

.footer li:nth-child(5).on a { background-image: url(images/ft5-on.png); }

@media only screen and (width: 375px) and (min-height: 635px) and (max-height: 812px) { body { padding-bottom: .68rem; }
  .footer { height: 1.66rem; padding-bottom: .68rem; } }

.swiper-container { width: 100%; height: 100%; padding-left: .2rem; padding-right: .2rem; }

.swiper-slide { text-align: center; font-size: .24rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; padding: .1rem .1rem; }

.swiper-pagination-bullet { background-color: #fff; opacity: .8; }

.swiper-pagination-bullet-active { background-color: #fa92be; }

.page01 .banner-box { padding: .1rem .25rem; }

.page01 .title { background: url(images/bg11.png) 0.1rem 0.2rem no-repeat; background-size: .38rem .37rem; padding: 0 .3rem; font-size: .34rem; line-height: 1rem; font-weight: bold; }

.page01 .title span { margin-left: .4rem; color: #9a9a9a; font-size: .3rem; font-weight: normal; }

.page01 .swiper-box { padding: .1rem 0; }

.page01 .swiper-box img { height: 2.2rem; width: 3.2rem; border-radius: .1rem; overflow: hidden; }

.page01 .list2 { padding: .1rem .3rem; font-size: .2rem; color: #9a9a9a; line-height: .3rem; }

.page01 .list2 li { border-radius: .1rem; overflow: hidden; margin-bottom: .2rem; width: 3.3rem; height: 3.9rem; }

.page01 .list2 .img { width: 100%; height: 2.2rem; margin-right: .2rem; overflow: hidden; }

.page01 .list2 img { display: block; }

.page01 .list2 .con { padding: 0 .2rem; }

.page01 .list2 .btm { margin-top: .1rem; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; }

.page01 .list2 .l { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }

.page01 .list2 .price { font-size: .3rem; color: #ff5858; }

.page01 .list2 .txt { overflow: hidden; }

.page01 .list2 h3 { font-size: .3rem; }

.page01 .list2 .btn-addCart { width: .5rem; height: .5rem; background: url(images/icon-cart.png) center center no-repeat; background-size: .46rem .44rem; }

.page01 .list3 { padding: .1rem .3rem; font-size: .2rem; color: #9a9a9a; line-height: .3rem; }

.page01 .list3 li { border-radius: .1rem; overflow: hidden; margin-bottom: .2rem; padding-right: .3rem; }

.page01 .list3 .img { width: 2.2rem; height: 2.2rem; margin-right: .2rem; overflow: hidden; }

.page01 .list3 img { display: block; }

.page01 .list3 .r { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; min-width: 0; }

.page01 .list3 .btm { margin-top: .2rem; }

.page01 .list3 .l { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }

.page01 .list3 .price { font-size: .3rem; color: #ff5858; }

.page01 .list3 del { font-size: .24rem; color: #9a9a9a; margin-left: .2rem; }

.page01 .list3 .txt { height: .6rem; overflow: hidden; }

.page01 .list3 h3 { font-size: .3rem; }

.page01 .list3 .btn { width: 1.24rem; line-height: .6rem; border-radius: .6rem; font-size: .24rem; }

.page02 .banner-ad { margin-bottom: .2rem; }

.page02 .banner-ad img { display: block; border-radius: .2rem; overflow: hidden; }

.page02 .list { font-size: .2rem; color: #9a9a9a; line-height: .3rem; }

.page02 .list li { overflow: hidden; margin-bottom: .2rem; padding-right: .3rem; padding: .2rem 0; border-bottom: #eee 1px solid; }

.page02 .list .img { width: 1.8rem; height: 1.8rem; margin-right: .2rem; overflow: hidden; border-radius: .1rem; }

.page02 .list img { display: block; }

.page02 .list .r { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; min-width: 0; }

.page02 .list .btm { margin-top: .2rem; }

.page02 .list .price { font-size: .3rem; color: #ff5858; }

.page02 .list del { font-size: .24rem; color: #9a9a9a; margin-left: .2rem; }

.page02 .list .txt { height: .6rem; overflow: hidden; }

.page02 .list h3 { font-size: .3rem; }

.page02 .list .btn { width: 1.24rem; line-height: .6rem; border-radius: .6rem; font-size: .24rem; }

.classify { background-color: #fff; height: 100vh; padding-bottom: .98rem; }

.classify > div, .classify > ul { height: 100%; overflow-y: scroll; overflow-x: hidden; }

.classify .classify-left { width: 1.8rem; background-color: #ececec; }

.classify .classify-left li { height: 1.4rem; cursor: pointer; position: relative; opacity: .3; font-size: .24rem; }

.classify .classify-left li.on { background-color: #fff; opacity: 1; }

.classify .classify-left .style1 { height: 100%; }

.classify .classify-left .icon { width: .32rem; height: .32rem; margin-right: .1rem; }

.classify .classify-left .style2 { height: 100%; position: relative; }

.classify .classify-left .txt { position: absolute; top: .2rem; width: 100%; left: 0; text-align: center; }

.classify .classify-right { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; min-width: 0; padding: .2rem .35rem; }

.classify .classify-box { display: none; }

.classify .classify-box:first-child { display: block; }
